NEXT_PUBLIC_CONTRACT_ADDRESS=0x3Dec861f9810B9ef5240eCC0325763A3d2931F61
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BUILDER_CODE=[Builder Code]
NEXT_PUBLIC_BASE_APP_ID=6a62e7539d7d9c8ac32b3243
NEXT_PUBLIC_DATA_SUFFIX=[Encoded String]
